<h1>Own My Stuff</h1>
<h3>Our Vision:</h3>
<ol>
<li>A product which will make sure that every content creator on the web has complete archive of all media he/she has created through their entire lifetime.</li>
<li>A product will protect content creators from the comings and going of various internet sites over time.</li>
<li>A digital safety deposit box which is inheritable.</li>
<li>A way for personal media to live beyond their creators</li>
<li>To affect a societal shift which will help society to view electronic property in the same way it views physical property and treat it with the same level of privacy.</li>
</ol>