<h1>Active Feeds</h1>
<% @active.each do |feed| %>
  <%= feed.title %> <br>
<% end %>
<br>
<h1>New Feeds</h1>
<% @fresh.each do |feed| %>
  <%= feed.title %> <br>
<% end %>
<br>
<h1>Completed Feeds</h1>
<% @complete.each do |feed| %>
  <%= feed.title %> <br>
<% end %>