/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links";
@import "compass/css3/inline-block";
$family: unquote("Lora");
@import url("http://fonts.googleapis.com/css?family=#{$family}");

.container {
  margin: 50px auto;
  width: 85%;
  height: 100%;
  padding: 20px 20px 20px 20px;
  /*border: 1px dotted black;*/

}

body {
  color: white;
  font-family: $family;
  font-size: 28px;
  background: #6dd6a4;
}

a {
  // color: #20714a;
  @include link-colors(#20714a, #fff, #fff, #20714a, #fff);
  @include hover-link;
  -webkit-transition: all .3s linear;
  text-decoration: none;
  // transition: all .3s linear;
}

#feed_url {
  // background: url('app/assets/images/input_boxes.gif') no-repeat 0 -58px;
  // width: 241px;
  // height: 20px;
  // padding: 0px 0px 5px 0px;
  // border: none;
}

.feeds {
  font-size: 16px;
}

.body_text {
  font-size: 16px;
  padding: 0px 0px 0px 0px;
}

.small_text {
  font-size: 14px;
  // padding: 0px 0px 0px 30px;
}

.index_page {
  text-align: center;
}

.index_title {
  font-size: 72px;
  // padding-bottom: 100px;
}

.index_user_widget, .index_about {
  font-size: 16px;
}

.index_user_widget {
  padding: 20px;
}

.top_nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0px;
  width: 100%;
  display: inline;
  // text-align: center;
  background-color: rgba(200,200,200,0.8);
  box-shadow: inset 0px -2px 2px #aaa;
}
 

